.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: lavender;
  /* background-image: url("https://cdn.pixabay.com/photo/2019/03/05/01/59/spring-background-4035402_1280.jpg"); */
  font-family: 'Itim', cursive;
  font-size: 20px;
  overflow: visible;
}